@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-notoSans;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-image: url('/images/glowshelfe_background.png');
  }
}
